.Wrapper {
   display: flex;
   gap: 2.4rem;
}

.LeftColumn {
   width: 17.5rem;
   display: flex;
   flex-direction: column;
   gap: 1.2rem;
   line-height: 1.4rem;
   font-size: 1.2rem;
}

.QRCode {
   display:block;
   padding: 0.2rem 0.2rem 0 0.2rem;
   background: var(--dc-color-white);
}

.RightColumn {
   font-size: 1.2rem;
   line-height: 1.8rem;
   display: flex;
   flex-direction: column;
   gap: 0.8rem;
}

.UrlCta {
   display: flex;
   gap: 0.8rem;
   align-items: center;
}

.Url {
   font-size: 1.1rem;
   line-height: 1.6rem;
   word-break: break-all;
   color: var(--dc-color-grey-400);
}
