.Button {
  all: unset;

  padding: 0.6rem 0.8rem;

  font-family: var(--dc-font-pro);
  line-height: 1.2rem;

  background: var(--dc-color-grey-700);
  border-radius: var(--dc-border-radius);

  cursor: pointer;

  &:hover,
  &:focus {
    background: var(--dc-color-grey-600);
  }

  &[aria-pressed=true] {
    background-color: var(--dc-color-blue-500);
  }
}

