# By default, review should come from the app-inner-loop team
* @shopify/app-inner-loop

# Theme team and CLI owners should review theme changes
packages/cli-kit/src/private/themes/* @shopify/developer-tools @shopify/app-inner-loop
packages/cli-kit/src/public/**/themes/* @shopify/developer-tools @shopify/app-inner-loop
packages/theme/** @shopify/developer-tools @shopify/app-inner-loop

# Bulk Data Management and CLI owners should review changes to the store package
packages/store/** @shopify/bulk-data-management-eng @shopify/app-inner-loop

# These are metafiles that can be reviewed by anyone
.changeset/* @shopify/developer-tools @shopify/app-inner-loop
.github/CODEOWNERS @shopify/developer-tools @shopify/app-inner-loop
docs-shopify.dev/**  @shopify/developer-tools @shopify/app-inner-loop
packages/cli/oclif.manifest.json @shopify/developer-tools @shopify/app-inner-loop
packages/cli/README.md @shopify/developer-tools @shopify/app-inner-loop
