strict-peer-dependencies=false
auto-install-peers=true
public-hoist-pattern[]=*vitest*
public-hoist-pattern[]=*vite*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
@shopify:registry=https://registry.npmjs.org/
