.Row {
  border-bottom: 1px solid var(--dc-color-grey-600);

  th {
    padding: 1.2rem 1.8rem;
    line-height: 1.6rem;
    font-weight: var(--dc-font-weight-600);
  }

  td {
    padding: 1.6rem 1.8rem 1.5rem;
    vertical-align: top;
  }
}
