@import '../theme';

.ConsoleCheckboxWrapper {
  padding-left: 1rem;

  /* stylelint-disable  selector-no-qualifying-type */
  span[class^='Polaris-Checkbox__Backdrop'] {
    background-color: transparent;
  }
}
