.Instructions {
   display: grid;
   gap: 1.2rem;
   margin: 0.6rem 0;
   padding-right: 2rem;
   padding-left: 2rem;
}

.UrlContainer {
   display:flex;
   padding: 0.6rem 0 0.4rem;
   align-items: top;

   .CopyButton {
      width:24px;
      height:24px;
   }
}
