.Instructions {
   display: grid;
   gap: 2.6rem;
   margin: 0;
   padding: 0 2rem;
   line-height: 1.5rem;

   a {
      color: var(--dc-color-white);
   }

   a:hover,
   a:focus {
      color: var(--dc-color-grey-400);
   }
}

.UrlContainer {
   display: flex;
   align-items: center;
   color: var(--dc-color-grey-400);
   margin-top: 0.8rem;
   border-radius: var(--dc-border-radius);
   align-items: top;
   line-height: 2.4rem;
   background-color: var(--dc-color-grey-900);
   line-height: 1.6rem;
}

.Url {
   border-right: 1px solid var(--dc-color-grey-600);
   padding: 0.8rem 1.2rem
}

.CopyButton {
   padding: 0.8rem 1.2rem;
}
