.ButtonGroup {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.Item {
  &:first-child button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:last-child button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
