.Header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 6.2rem;
  padding: 2rem 2rem 1.8rem 2rem;
  border-bottom: 1px solid var(--dc-color-grey-600);
}

.Title {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  flex: 1;
  align-self: center;
  font-size: 1.6rem;

  h2 {
    font-weight: var(--dc-font-weight-600);
  }
}
