.OuterContainer {
  height: 100vh;
  background: var(--dc-background);
  overflow: hidden;
}

.DevTool {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: var(--dc-text);
  font-family: var(--dc-font);

  overflow: hidden;
  border-radius: var(--border-radius) var(--border-radius) 0 0;


  h1 {
    font-weight: 700;
  }

  main {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  svg {
    width: 2rem;
  }
}

.Header {
  border-bottom: 1px solid var(--dc-dark);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem 1rem;

  svg {
    fill: var(--dc-text);
  }

  .HeaderLeft {
    display: flex;
    height: auto;
  }
}
