
.DevToolRow {
  border-bottom: 1px solid var(--dc-border);

  td {
    padding: 0.8rem 1.5rem;
  }

  label {
    vertical-align: middle;
  }

  &:hover {
    cursor: pointer;
    background: var(--dc-color-border);

    .ActionSet {
      opacity: 1;
    }
  }
}

.Title {
  font-weight: var(--dc-font-weight-subdued);
}

.NotApplicable {
  font-family: var(--dc-font-compact);
}

.ActionSet {
  vertical-align: middle;
  opacity: 0;
}

.ForceVisible.ActionSet,
.ForceVisible .ActionSet {
  opacity: 1;
}

.Hidden {
  text-decoration: line-through;
}

.Status {
  font-size: 13px;
  border-radius: var(--dc-border-radius);
  padding: 0.25rem 1rem 0.5rem;
  white-space: nowrap;
}

.success {
  background: var(--dc-color-success);
}

.disconnected {
  background: var(--dc-color-warning);
}

.error {
  background: var(--dc-color-error);
}
