@import './theme';

.OuterContainer {
  height: 100vh;
  background: $background;

  &.DevToolVisible {
    overflow: auto;
    // height: calc(100vh - #{$dev-tool-height});
  }
}

.Hidden {
  visibility: hidden;
}

.DevTool {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: $text;
  font-family: $dev-tool-font;
  
  // height: $dev-tool-height;
  overflow: hidden;
  border-radius: 10px 10px 0 0;

  h1 {
    font-weight: 700;
  }

  main {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  svg {
    width: 2rem;
  }
}

.Header {
  border-bottom: 1px solid $dark;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem 1rem;

  svg {
    fill: $text;
  }

  .HeaderLeft {
    display: flex;
    height: auto;
  }

  .Cancel {
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

.SideBar {
  background: $dark;
  width: 24rem;

  ul {
    list-style: none;
    padding: 0;
  }

  svg {
    fill: $text;
  }
}

.MenuItem {
  position: relative;
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;

  &:focus,
  &:hover {
    background: $background;
    color: $active;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      left: -1rem;
      width: 3px;
      height: 3rem;
      background: $active;
      border-radius: 4px;
      margin-right: 1rem;
    }

    svg {
      fill: $active;
    }
  }
}

.ExtensionList {
  width: 100%;
  overflow: auto;
  flex: 1;

  table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
  }

  hr {
    color: $subdued;
  }

  tr {
    line-height: 3rem;
    border-bottom: 1px solid $dark;
  }

  th {
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 1rem;
    background: $background;
  }

  svg {
    fill: $subdued;
  }
}

.UIExtensionsDevToolOverrides {
  overflow: hidden;
}
