.PreviewLinksTitle {
  font-style: italic;
}

.PreviewLinks {
  display: grid;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.PreviewLink {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-weight: var(--dc-font-weight-500);
}
