.IconButton {
  all: unset;
  display: flex;
  align-items: center;

  width: 2.4rem;
  height: 2.4rem;

  background-color: var(--dc-color-grey-700);
  border-radius: 50%;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--dc-color-grey-600);
  }

  .Icon {
    margin: 0 auto;
  }
}

