.IconButton {
  all: unset;

  padding: 0.3rem 0.1rem 0.1rem 0.3rem;

  background: var(--dc-color-border);
  border-radius: 50%;

  cursor: pointer;

  &:hover {
    background: var(--dc-color-icon);
  }
}

