html {
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-size: 16px;
    line-height: normal;
    margin: 0;
    padding: 0;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
}

h1 {
    font-weight: 600;
}

p {
    font-weight: 400;
}

a:link, a:visited {
    color: #458FFF;
    text-decoration-color: #458FFF;
    transition: all 0.5s ease;
}

a:hover, a:active {
    color: #3b7ad9;
    text-decoration-color: transparent;
    transition: all 0.5s ease;
}

.body-success {
    color: #F6F6F7;
}

.body-error {
    color: #202223;
}

.app-success {
    width: 100vw;
    height: 100vh;
    background-color: #054A49;
    display: flex;
}

.app-error {
    width: 100vw;
    height: 100vh;
    background-color: #F6F6F7;
    display: flex;
}

.container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 50px;
}

.subtext-container {
    width: 35em;
    color: #6D7175;
}
