.CopyLink {
  font-family: var(--dc-font);
  text-align: right;
}

.PopoverContent {
  font-family: var(--dc-font);
  width: 128px;
  word-wrap: break-word;
}

.ActionGroup {
  display: flex;
  justify-content: flex-end;
}
