.Container {
  position: fixed;
  z-index: 11;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
}

.Dialog:focus {
  outline: 0;
}

.Modal {
  pointer-events: initial;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 62rem;
  margin: 0 auto;
  max-height: calc(100vh - 6rem);
  border-radius: var(--dc-border-radius-2);
  background: var(--dc-color-grey-700);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 26px 80px rgba(0, 0, 0, 0.2);

  &.Width-large {
    width: 62rem;
  }

  &.Width-small {
    width: 45rem;
  }
}

.animateFadeUp {
  will-change: transform, opacity;
  opacity: 1;
  transform: translateY(0);
  transition: transform 200ms,
    opacity 200ms;

  &.entering,
  &.exiting,
  &.exited {
    opacity: 0;
    transform: translateY(20rem);
  }

  &.entered {
    opacity: 1;
    transform: translateY(0);
  }
}
