name: Changeset Release

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - stable/3.*

concurrency:
  group: changeset-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  PNPM_VERSION: '8.15.7'
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  changeset-release:
    name: Changeset Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/checkout@v3
        # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
        with:
          fetch-depth: 1
      - name: Setup deps
        uses: ./.github/actions/setup-cli-deps
        with:
          node-version: 18.20.3
      - name: Create Release Pull Request
        uses: changesets/action@e9cc34b540dd3ad1b030c57fd97269e8f6ad905a #  pin@v1
        with:
          version: pnpm changeset-manifests
          title: Version Packages - ${{ github.ref_name }}
          publish: pnpm release latest
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
